/* The device with borders */

#tablet {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 1100px;
	height: 525px;

	border: 20px black solid;
	border-top-width: 25px;
	border-bottom-width: 25px;
	border-radius: 15px;
	background: black;
}
.tablet .content {
	margin-left: 37%;
	margin-bottom: 15%;
	margin-top: 10%;
	border: 5px;
	border-color: yellow
	
	
}
#blackbar {
	background-color: #333;
	height: 15px;
	width: 1100px;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}

#check-api-data {
	background-color: #e00000;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
	width: 100%;
	height:20px;
	line-height:20px;
	font-weight: bolder;
	text-align:center;
}