/* The device with borders */

#tablet {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 1100px;
	height: 525px;

	border: 20px black solid;
	border-top-width: 25px;
	border-bottom-width: 25px;
	border-radius: 15px;
	background: black;
}
